<%= turbo_stream.update "search_results" do %>
  <% if @results.present? %>
    <%= render partial: "shared/search_game_results", locals: { results: @results } %>
  <% else %>
    <p class="search-autocomplete__empty">No games found.</p>
  <% end %>
<% end %>
