<% if params[:origin] == "swipe" %>
  <%= turbo_stream.replace "grid-card-#{@game.rawg_id}" do %>
    <button class="btn btn-secondary btn-sm w-100" disabled>Added</button>
  <% end %>
<% else %>
  <%= turbo_stream.replace "list-panel-item-#{@list.id}" do %>
    <%= render "games/list_panel_item", list: @list, existing: @list_game, game: @game %>
  <% end %>
<% end %>
