<% if post.errors.any? %>
  <div class="alert alert-danger mb-3">
    <ul class="mb-0">
      <% post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
